html {
  /* scroll-behavior: smooth; */
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  /* font-family: 'Prompt', sans-serif; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden;
}

body {
  /* ตรงนี้สี อย่าเเตะ ขก.เเก้ */
  margin: 0;
  background-color: hsl(33, 95%, 92%);
  /* background: linear-gradient(hsl(33, 95%, 92%),white, #000000); */
  overflow-x: hidden;
}

#body-wrapper{
  /* ป้องกัน scroll ด้านข้างของโทรศัพท์ */
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background-color: hsla(0, 0%, 0%, 0);
  width: 10px;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-track {
  background-color: hsl(34, 89%, 79%);
  /* background-color: black; */
  border-radius: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(34, 95%, 56%);
  border-radius: 10px;
}

/* -------------------------
page1
------------------ */

#page1 {
  position: relative;
  height: fit-content;
  /* background-color: #f2f8c9; */
  /* align-items: 50vh; */
}

#logo-down {
  /* background-color: #fff700; */
  height: 200vh;
  position: relative;
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  /* padding-bottom: -50vh; */
}

#logo img {
  width: 30vw;
}

#logo {
  height: min-content;
  position: fixed;
  top: calc(50vh - (30vw / 2));
  left: calc(50vw - (30vw / 2));;
  z-index: -10;
}

.shake {
  animation: logomove 5s infinite;
}

@keyframes logomove {
  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

#first-fridge {
  /* background-image: linear-gradient(hsla(33, 95%, 92%, 0) 0%, hsla(33, 95%, 92%, 100) 20%, hsla(33, 95%, 92%, 100) 80%, white); */
  background-color: hsl(33, 95%, 92%);
  margin-top: -100vh;
  height: 2000px;
  justify-content: center;
  position: relative;
  
  box-shadow: 0px 0px 90px 10vw hsla(33, 95%, 92%, 10);

  /* -webkit-box-shadow: 0px -50vw 90px 100vw hsla(33, 95%, 92%, 100);
  -moz-box-shadow: 0px -50vw 90px 10vw hsla(33, 95%, 92%, 100); */
  
  --fridge-w: 389px;
  /* --shelf-w: calc(4012px * 0.35); */
  /* --shelf-h: calc(2262px * 0.35); */
  --shelf-w: calc(var(--fridge-w) * 5.32);
  --shelf-h: calc(var(--fridge-w) * 3);
}

.shelf-background{
  width: calc(var(--shelf-w) * 1.5);
  height: calc(var(--shelf-h) * 0.8);
  position: absolute;
  left: calc(50vw - ((var(--shelf-w) * 1.5) / 2));
  bottom: 50%;
  background-image: url('img file/page_1/New_Kitchen_BG.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: var(--shelf-w) var(--shelf-h);
}

/* .shelf-container{
  width: calc(var(--shelf-w) * 1.5);
  height: calc(var(--shelf-h) * 1);
  position: absolute;
  left: calc(50vw - ((var(--shelf-w) * 1.5) / 2));
  background-image: url('img file/page_1/Kitchen.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: var(--shelf-w) var(--shelf-h); */
  
  /* background-size: cover; */

  
  /* max-width: 1920px; */
  /* max-height: auto; */

  /* overflow: hidden; */
}

.shelf-container img{
  width: 100%;
  height: auto;
}

.fridge {
  /* --fridgeW: calc(var(--shelf-w) * 0.2); */
  width: var(--fridge-w);
  height: auto;
  /* text-align: center; */
  bottom: 50%;
  /* top: calc(12.6vh - ((var(--fridge-w) / 2.5) / 2)); */
  left: calc(50vw - (var(--fridge-w) / 2));  
}

#unlock_fridge:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.bounce {
  transition: transform 0.2s ease, opacity 1s ease;
  height: fit-content;
}

#tile {
  z-index: 0;
  width: 100vw;
  height: auto;
  display: block;
  top: 23%;
}

/* จุดสังเกตเเบบ pulse */
.hotpoint {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #B41730;
  animation: pulse 2s infinite;
  transition: all 0.4s;
  cursor: pointer;
}

.hotpoint:after {
  content: '';
  width: 18px; /* 30px / 1.6666 */
  height: 18px; /* 30px / 1.6666 */
  border-radius: 50%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  left: 6px; /* 30px / 5 */
  top: 6px; /* 30px / 5 */
  cursor: pointer;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(180, 23, 48, 0.4);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(180, 23, 48, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(180, 23, 48, 0);
  }
}

#hotpoint1{
  position: absolute;
  left: calc(50vw - (30px / 2));
  top: calc(40vh - (30px / 2));
  opacity: 100%;
  z-index: 1;
}

/* post it sty */

/* -------------------------
end page1
------------------ */


/* -------------------------
page2
------------------ */

#page2 {
  height: fit-content;
  max-height: 200vw;
  min-height: 150vw;
  /* background-color: #b1b5f7; */
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  /* background: linear-gradient(white, black); */
  background: rgb(254,237,215);
  background: linear-gradient(180deg, rgba(254,237,215,1) 0%, rgba(0,0,0,1) 53%);
  /* background-color: black; */
  justify-content: center;
}

#allTrash {
  height: 120vh;
  overflow-y: hidden;
  max-height: 190vw;
  min-height: 150vw;
}

.Binbag {
  height: 200vh;
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 140vw;
  min-height: 100vw;
  margin-top: -20%;
  transition: 1s;
}

#page2_Hint{
  position: absolute;
  width: 100vw;
  /* top: 0%; */
  justify-content: center;
  text-align: center;
  margin-top: 12%;
  font-size: 3rem;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
  color: white;
}

#page2_Text {
  /* display: flex; */
  position: absolute;
  width: 100vw;
  overflow-x: hidden;
  /* left: 50%; */
  justify-content: center;
  text-align: center;
  margin-top: 40%;
  font-size: 3rem;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
  color: white;
}


/* -------------------------
end page2
------------------ */

/* -------------------------
page3
------------------ */

#page3 {
  height: 80vh;

  justify-content: center;
  color: white;
  background: linear-gradient(black, hsl(33, 95%, 92%));
  background-size: cover;
}


/* -------------------------
end page3
------------------ */

#pagedownload {
  height: 100vh;
  justify-content: center;
  background-image: linear-gradient(#fffefe, green)
    /* #e5ba8a */
}

.pic {
  background-size: cover;
  position: absolute;
}

.img-container {
  height: min-content;
}

#logo_black {
  width: 100%;
}

.centered {
  height: 100%;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* * ------------------ page 4 ----------------- * */
#page4 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: linear-gradient(#fffefe, maroon) */
  /* #e5ba8a */
  background-color: hsl(33, 95%, 92%);
}

#infograph {
  height: 100%;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#cartinfo {
  width: 700px;
  /* opacity: 0;
  transition: opacity 0.5s ease-in-out; */
  /* display: block;  */
  /* left: calc(50vw - (66% / 2)); */
}

.textcart {
  color: #704123;
  left: -167px;
  top: -167px;
  position: relative;

}

.textcart2 {
  color: #704123;
  left: 170px;
  top: -5px;
  position: relative;

}


.page4_bottom_txt {
  font-size: 1.1rem;
  margin: 0;

}

.page4_top_right_txt {
  font-size: 3rem;
  margin: 0;
  text-align: end;
}

.page4_top_left_txt {

  font-size: 3rem;
  margin: 0;

}


/* ------------------
 end page 4 
----------------- */


/* ------------------
page 5 
----------------- */

#page5 {
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(33, 95%, 92%);
  overflow-y: hidden;
}

#page5_Text {
  font-size: 3rem;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
  color: #704123;
  text-align: center;
  /* padding: 10px; */
}

/* ------------------
 end page 5
----------------- */



/* Media Query section */

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* ทำรูปของต้นน้ำ */


.desktop {
    display: none;
  height: 100%;
}

.mobile {
    display: block;
}

/* สำหรับ media query ห้ามเขียนอะไรใต้นี้นอกจาก query */
@media only screen and (max-width: 720px) {
  #cartinfo {
    width: 400px;
    /* opacity: 0;
  transition: opacity 0.5s ease-in-out; */
    /* display: block;  */
    /* left: calc(50vw - (66% / 2)); */
  }

  .textcart {
    color: #704123;
    left: -87px;
    top: -115px;
    position: relative;

  }

  .textcart2 {
    color: #704123;
    left: 87px;
    top: -23px;
    position: relative;

  }


  .page4_bottom_txt {
    font-size: 0.7rem;
    margin: 0;

  }

  .page4_top_right_txt {
    font-size: 3rem;
    margin: 0;
    text-align: end;
  }

  .page4_top_left_txt {

    font-size: 3rem;
    margin: 0;

  }
}

@media only screen and (max-width: 530px) {
  #first-fridge{
    height: 750px;
    --fridge-w: 150px;
  }
  
  #cartinfo {
    width: 300px;
  }

  .textcart {
    color: #704123;
    left: -55px;
    top: -90px;
    position: relative;

  }

  .textcart2 {
    color: #704123;
    left: 55px;
    top: -19px;
    position: relative;

  }

  .page4_bottom_txt {
    font-size: 0.6rem;
    margin: 0;

  }

  .page4_top_right_txt {
    font-size: 2.5rem;
    margin: 0;

    text-align: end;
  }

  .page4_top_left_txt {
    font-size: 2.5rem;
    margin: 0;

  }
}

@media screen and (min-width: 768px) {
    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
}